{% extends "base.html" %} {% block content %}

<div class="content-area">
  <h2>All File</h2>
  <button class="button">+ New</button>
  <form action="" method="post">
    {% csrf_token %} {{ form }}
    <input type="submit" value="Submit" />
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data.items %}
      <tr>
        <td class="name-column">
          <i class="folder-icon">📁</i>{{item.name | truncatechars:35}}
        </td>
        <td>{{item.size}}</td>
        <td>{{item.created}}</td>
        <td><i class="action-icon">⋮</i></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% comment %}
<div class="link-form">
  {% for item in data.items %}
  <div>
    <p>{{item.name}}</p>
    <p>{{item.size}}</p>
    <p>{{item.type}}</p>
    <p>{{item.created}}</p>
  </div>

  {% endfor %}
</div>
{% endcomment %} {% endblock content %}
